body {
    min-height: 100vh;
    background: url('Webback.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: ffffff;
    font-size: 30px;
    
    }
    
    h1 {
    text-align: center;
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    font-family: Poppins, sans-serif;
    color: ffffff;
    font-size: 87px;
    }
    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    
    }
    
    .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Poppins", sans-serif;
    
    }
    
    .navbar a {
    font-size: 27px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    }
    
    .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: .3s;
    
    
    }
    
    .navbar a:hover:before {
    width: 100%;
    
    
    }
    
    