body {
    min-height: 100vh;
    background: url('Webback.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    display: block;
    margin: 0;
    padding: 0;
    font-family: system-ui;
font-size: 16px;
background: #ffffff;
margin-top: 20px;

}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.comment-box, comment-list {
background: #ffffff;
border-radius: 4px;
box-shadow: 0 2px 2px #0002;

}

.comment-session {
width: 650px;
height: auto;
margin: 0 auto;

}

.comment-list {
width: 100%;
margin-bottom: 12px;

}

.comment-list .user {
display: flex;
padding: 8px;
overflow: hidden;

}

.comment-list .name {
text-transform: uppercase;
font-weight: 600;

}

.comment-list .day {
font-size: 14px;

}

.post-comment .comment {
padding: 0 0 15px 58px;

}

.comment-box {
padding: 10px;


}

.comment-box .user {
display: flex;
width: min-content;

}

.comment-box textarea {
background: #ffffff;
width: -webkit-fill-available;
height: 152px;
margin: 10px 0;
padding: 10;
border: none;
border-radius: 4px;
box-shadow: 0 0 0 0.5px #0003;

}

.comment-box textarea:focus {
outline-color: #808000;

}

.comment-box .comment-submit {
float: right;
padding: 6px 14px;
border: none;
background: #808000;
color: #ffffff;
cursor: pointer;
border-radius: 2px;

}

.comment-box .comment-submit:hover {
background: #b8b80e;

}

    h1 {
    text-align: center;
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    font-family: Poppins, sans-serif;
    color: #808000;
    font-size: 87px;
    }
    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    
    }
    
    .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Poppins", sans-serif;
    
    }
    
    .navbar a {
    font-size: 27px;
    color: #808000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    }
    
    .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #808000;
    transition: .3s;
    
    
    }
    
    .navbar a:hover:before {
    width: 100%;
    
    
    }
    
    